<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2">
                    <span class="pagi-text">Total: <strong>{{ pager.getNumItems() }}</strong></span>
                </div>
                <div class="col-md-10">
                    <form name="pager_limit" method="get" action="{{ pager.getPagerUrl(pager.getPage()) }}" class="" role="form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="_limit">Resultados por página:</label>
                                <select name="_limit" class="form-control " placeholder="Resultado">
                                    <option 
                                        {% if pager.getMaxItemsPerPage() == 10 %}
                                            selected="selected"
                                        {% endif %}
                                        value="10">10</option>
                                    <option 
                                        {% if pager.getMaxItemsPerPage() == 20 %}
                                            selected="selected"
                                        {% endif %}
                                        value="20">20</option>
                                    <option 
                                        {% if pager.getMaxItemsPerPage() == 30 %}
                                            selected="selected"
                                        {% endif %}
                                        value="30">30</option>
                                    <option 
                                        {% if pager.getMaxItemsPerPage() == 50 %}
                                            selected="selected"
                                        {% endif %}
                                        value="50">50</option>
                                    <option 
                                        {% if pager.getMaxItemsPerPage() == 100 %}
                                            selected="selected"
                                        {% endif %}
                                        value="100">100</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 d-flex align-items-end" >
                                <button type="submit" align="bottom" class="btn btn-outline-info">FILTRAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            {% if pager.getNumItems() > 0 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if pager.getPage() != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pager.getPagerUrl(1) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{ pager.getPagerUrl(pager.getPage() - 1) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for i in pager.getPageStart()..pager.getPageEnd() %}
                            {% if pager.getPage() == i %}
                                <li class="page-item active"><span class="page-link" > {{ i }} </span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="{{ pager.getPagerUrl(i) }}"> {{ i }} </a></li>

                            {% endif %}
                        {% endfor %}
                        {% if pager.getPageEnd() < pager.getNumPages() %}
                            <li class="page-item"><span class="page-link"> ... </span></li>
                            <li class="page-item"><a class="page-link" href="{{ pager.getPagerUrl(pager.getNumPages()) }}"> {{ pager.getNumPages() }} </a></li>
                            {% endif %}

                        {% if pager.getPage() != pager.getNumPages() %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pager.getPagerUrl(pager.getPage() + 1) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{ pager.getPagerUrl(pager.getNumPages()) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %} 
            {# 
            <div class="pagination">

                {% if pager.getNumItems() > 0 %}

                    {% if pager.getPage() != 1 %}
                        <a href="{{ pager.getPagerUrl(1) }}" class="pagi-text btn-pagination" title="1"> 
                            <span id="img-page-first" class="img-pagination-arrow" ></span>
                        </a>
                        <a href="{{ pager.getPagerUrl(pager.getPage() - 1) }}" class="pagi-text btn-pagination" title="<"> 
                            <span id="img-page-previous" class="img-pagination-arrow" ></span>
                        </a>
                    {% endif %}

                    <div class="pages-pagination" >
                        {% for i in pager.getPageStart()..pager.getPageEnd() %}

                            {% if pager.getPage() == i %}
                                <span class="pagi-text pag-selected">{{ i }}</span>
                            {% else %}
                                <a href="{{ pager.getPagerUrl(i) }}" class="pagi-text" title="{{ i }}"> {{ i }} </a>
                            {% endif %} 
                        {% endfor %}
                        {% if pager.getPageEnd() < pager.getNumPages() %}
                            <span class="pagi-text"> ...</span>
                            <a href="{{ pager.getPagerUrl(pager.getNumPages()) }}" class="pagi-text" title="{{ pager.getNumPages() }}"> {{ pager.getNumPages() }} </a>
                        {% endif %}
                    </div>

                    {% if pager.getPage() != pager.getNumPages() %}

                        <a href="{{ pager.getPagerUrl(pager.getPage() + 1) }}" class="pagi-text btn-pagination" title=">"> 
                            <span id="img-page-next" class="img-pagination-arrow" ></span>
                        </a>

                        <a href="{{ pager.getPagerUrl(pager.getNumPages()) }}" class="pagi-text btn-pagination" title="{{ pager.getNumPages() }}"> 
                            <span id="img-page-last" class="img-pagination-arrow" ></span>
                        </a>
                    {% endif %}	
                {% endif %} 

            </div> 
             #}
        </div>
    </div>
</div>