/* Pagination */

.pagi-text {
    font-family:"Lucida Grande",tahoma,arial,helvetica,sans-serif;
    color:#666;
    font-size:13px;
    line-height:23px;
}

a.pagi-text:hover {
    font-weight: bold;
}

.pag-selected {
    font-weight: bold;
}

.pagination {
    float: right;
    padding: 5px;
    height: 25px;
}

.pages-pagination {
    float: left;
    margin: 0 4px;
}

.btn-pagination {
    float: left;
    width: 16px;
    height: 16px;
    margin: 4px 1px 0;
}

.img-pagination-arrow {
    float: left;
    width: 16px;
    height: 16px;
}

#img-page-previous {
    background: url(../images/resultset_previous.png) no-repeat;
}
#img-page-next {
    background: url(../images/resultset_next.png) no-repeat;
}
#img-page-first {
    background: url(../images/resultset_first.png) no-repeat;
}
#img-page-last{
    background: url(../images/resultset_last.png) no-repeat;
}
